@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import './mixins.scss';
.filter-root {
    @include flexBox($direction: column, $justify: flex-start, $align: flex-start, $wrap: wrap);
    width: 103%;
    .container-filters {
        @include flexBox($direction: row, $justify: space-around, $align: row, $wrap: nowrap);
        width: 97%;
        height: auto;
        box-sizing: border-box;
        background: #FAFAFA;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        @include padding($top: 27px, $bottom: 27px, $left: 42px, $right: 42px);
        @include margin($top: 30px, $bottom: 0, $left: 0, $right: 30px);
        button {
            box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        }
        .div-filters {
            @include flexBox($direction: column, $justify: flex-start, $align: row, $wrap: wrap);
            margin: 0 20px;
            div {
                @include flexBox($direction: column, $justify: flex-start, $align: row, $wrap: wrap);
                position: relative;
                width: 230px;
                height: 180px;
                border-right: 1px #EAEAEA solid;
                padding-right: 30px;
            }
            p {
                display: block;
                font-family: Rubik;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 14px;
                color: #B9B9B9;
            }
            button {
                all: unset;
                @include flexBox($direction: row, $justify: space-between, $align: center, $wrap: wrap);
                background: #FAFAFA;
                box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 10px 18px;
                font-size: 12px;
                line-height: 12px;
                @include margin($top: 5px, $bottom: 5px, $left: 0px, $right: 5px);
                cursor: pointer;
                img {
                    width: 11px;
                }
            }
            label {
                font-family: Rubik;
                font-style: normal;
                font-weight: normal;
                font-size: 9px;
                line-height: 11px;
                color: #484848;
            }
            input {
                all: unset;
                background: #FFFFFF;
                border: 1px solid #7B61FF;
                box-sizing: border-box;
                border-radius: 2px;
                width: 105px;
                height: 22px;
            }
        }
        div.div-btn-filters {
            @include flexBox($direction: row, $justify: flex-end, $align: flex-end, $wrap: wrap);
            .btn-clear-filters {
                @include flexBox($direction: row, $justify: flex-start, $align: center, $wrap: wrap);
                all: unset;
                background: #FAFAFA;
                box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                padding: 10px 8px;
                font-size: 12px;
                line-height: 14px;
                text-align: center;
                margin-right: 20px;
                cursor: pointer;
            }
            .btn-apply-filters {
                all: unset;
                font-size: 12px;
                line-height: 14px;
                display: flex;
                align-items: center;
                text-align: center;
                color: #FFFFFF;
                padding: 10px 8px;
                background: linear-gradient(264.83deg, #3A9FF1 -3.28%, #05EDE3 100%);
                box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
    .open-filters-button {
        all: unset;
        padding: 15px 32px;
        background: #FAFAFA;
        box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        cursor: pointer;
        img {
            margin-right: 10px;
        }
    }
}